/* responsive */

$blue: #04b3c8;
$yllow: #fff100;
$brwn: #672903;

@media screen and (max-width: 1024px) {
    .gld_sliderCont {
        padding: 140px 35px 0;
    }
}

@media screen and (max-width: 960px){
    
    .uk-navbar-nav{
        display: none;
    }
    
    .uk-container{
        padding: 0 20px;
    }
    
.uppr_nav .usr_cnt .bwn-btn{
    display: none;
}

.gld_sliderCont {
    padding-top: 100px;
}

.sldr_cont {
    min-height: 0;
}

.flwdth-ylw-up{
    &:before{
        top: -65px;
    }
}


.pnl {
    p {
        text-align: center;
    }
}
    
.lwr_nav{
    height: 65px;
    
    .lg_cont img {
        width: 65%;
    }
    
    .uk-container {
        padding: 0;
    }
    
    .nav_cont {
        width: 100%;
        padding-top: 15px;
        
        .uk-navbar-nav{
              width: 100%;
              position: absolute;
              z-index: 8;
                top: 65px;
              background-color: $yllow;
              padding-top: 35px;
            
            li {
                float: none;
                border-bottom: 1px dotted $brwn;  
                
                a {
                    color: #652A06;
                    font-family: 'helvetica_bold';
                }
                
                &:last-child{
                    border-bottom: 0;
                }
            }
        }
    }
}
    
.flwdth-ylw-dw{
    padding: 50px 0 15px;
    
    &:after {
        bottom: -30px;
    }
}
    
.abt {
    
    .uk-width-small-1-2{
        
        img {
            text-align: center;
            width: 100%;
            margin-bottom: 20px;
        }
        
        p{
            text-align: center;
            padding-top: 0px;
        }
        
        &:nth-child(2) {
            padding-top: 0px;
        }  
    }
} 
    
.lstpd{
    margin-left: 0;
}
    
.mbr_cnt{ 
    .mbr_pnl .mbr_desc p{
        text-align: center;
        min-height: 20px;
    }
}
    
.rdm_cont {
    width: calc(100% /3 - 15px);
    
    &:nth-child(3n+3){
        margin-right: 0;
    }
    &:nth-child(4n+4){
        margin-right: 20px;;
    }
}
    
    
.ctc {
    p {
        text-align: center;
        margin-bottom: 20px !important;
    }
}
    
    
.gld_slider {
    width: 100%;
    
    .item{
        height: 340px;
        padding: 0 15px;
        
        p{
            float: none;
            max-width: 100%;
            text-align: center;
            font-weight: normal;
            font-size: 15px;
        }
        
    }
    .gld_sld {
        vertical-align: bottom;
    }
}  

.sldr_cont{
    .customNavigation{
        display: none;
    }
}
} // end of 959px


@media screen and (max-width: 767px){

    .uk-flex {
        display: block;
    }
    
    .uk-container{
        padding: 0 15px;
    }
    
.pnl {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
}
    
.hd-rib {
    text-align: center;
    font-size: 18px;
    
        span:nth-child(2){
            display: none;
        }
}
    
.abt {
    
    .uk-width-small-1-2{

        p{
            text-align: left;
            padding-bottom: 20px;
        }
 
    }
}
    
.mbr_cnt{ 
    .mbr_pnl{
        width: 100%;
        margin-bottom: 50px;
    }
}
    
.brdbrwn{
   border: 0; 
}

.ctc_btn {
    text-align: center;
}
    
.gld_slider {
    
    .item{

        p{
            font-size: 15px;
            line-height: 18px;
            text-align: justify;
            margin-bottom: 0;
            
            a{
                padding: 5px;
                font-size: 12px;
            }
        }
        
    }
    
}  

.mbr_prfl-lbl{
    text-align: left;
}
    
.accpd{
   padding-left: 0
}
    
.pnts{
    width: 100%;
    margin-top: 20px;
    
    .pnl_1{
        text-align: left;
    }
    
}
    
//.fvrts ul li{
//    width: calc(100% / 2 - 10px);
//    
//    &:nth-child(2n+2){
//        margin-right: 0px;
//    }
//    
//    .fvrts_img img {
//        max-width: 200px;
//    }
//
//}

.rdm_cont {
    width: calc(100% / 2 - 10px);
    
    &:nth-of-type(even){
        margin-right: 0 !important;
    }
    &:nth-of-type(odd){
        margin-right: 20px !important;
    }
}
    
footer {
    
    .uk-width-small-1-2{
        float: right;
    }
    
    .uk-width-small-1-2:nth-child(2){
        float: none;
    }
}
    
    
.frm{

    label{
        float: none;
        width: 100%;
    }
    
    input, textarea{
        float: none;
        width: 100%;
        margin-top: 10px;
    }
    
}
    
.ctc p {
    text-align: left;
}
    
} // end of 767px


@media screen and (min-width: 601px) and (max-width: 960px){
.cntc{
    width: calc(100% / 3);
    float: left;
    border-left: 1px dotted;
    padding-right: 15px;
    
    &:first-child{
        border: 0;
    }
    
    .cntc_icn {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .cntc_desc {
        width: 100%;
        text-align: center
    }
}

}

@media screen and (max-width: 600px){
.uppr_nav .usr_cnt span a {
    font-size: 13px;
    margin-right: 0;
}
    
}// end of 600px

@media screen and (max-width: 480px) {
    .gld_sliderCont {
        padding-top: 50px;
    }
}

@media screen and (max-width: 414px){
.rdm_cont {
    width: 100%;
    margin-right: 0 !important;
    
}

    .uppr_nav .usr_cnt{
          text-align: right;
      padding: 0;
      padding-top: 10px;
    }
    
    .uppr_nav .usr_cnt span a{
        font-size: 10px;
    }
    
//.fvrts ul li{
//    width: 100%;
//    margin-right: 0px;
//}
//    


}// end of 414px


@media screen and (max-width: 320px){
.hd-rib{
    font-size: 15px;
    span {
    padding: 7px 5px;
    }
}

}// end of 320px
