@import "mixins";
@import "_sprites";



$blue: #04b3c8;
$yllow: #fff100;
$brwn: #672903;

@mixin box-shadow{
    -webkit-box-shadow: -1px 16px 39px -9px rgba(0,0,0,0.52);
-moz-box-shadow: -1px 16px 39px -9px rgba(0,0,0,0.52);
box-shadow: -1px 16px 39px -9px rgba(0,0,0,0.52);
}

@font-face {
    font-family: 'museo500';
    src: url('../fonts/museo/museo500-regular-webfont.eot');
    src: url('../fonts/museo/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo500-regular-webfont.woff2') format('woff2'),
         url('../fonts/museo/museo500-regular-webfont.woff') format('woff'),
         url('../fonts/museo/museo500-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo/museo500-regular-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_bold';
    src: url('../fonts/helvetica/helveticaneue-bold-webfont.eot');
    src: url('../fonts/helvetica/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/helveticaneue-bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica/helveticaneue-bold-webfont.woff') format('woff'),
         url('../fonts/helvetica/helveticaneue-bold-webfont.ttf') format('truetype'),
         url('../fonts/helvetica/helveticaneue-bold-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_italic';
    src: url('../fonts/helvetica/helveticaneue-italic-webfont.eot');
    src: url('../fonts/helvetica/helveticaneue-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/helveticaneue-italic-webfont.woff2') format('woff2'),
         url('../fonts/helvetica/helveticaneue-italic-webfont.woff') format('woff'),
         url('../fonts/helvetica/helveticaneue-italic-webfont.ttf') format('truetype'),
         url('../fonts/helvetica/helveticaneue-italic-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_light';
    src: url('../fonts/helvetica/helveticaneue-light-webfont.eot');
    src: url('../fonts/helvetica/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/helveticaneue-light-webfont.woff2') format('woff2'),
         url('../fonts/helvetica/helveticaneue-light-webfont.woff') format('woff'),
         url('../fonts/helvetica/helveticaneue-light-webfont.ttf') format('truetype'),
         url('../fonts/helvetica/helveticaneue-light-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_lightcond';
    src: url('../fonts/helvetica/helveticaneue-lightcond-webfont.eot');
    src: url('../fonts/helvetica/helveticaneue-lightcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/helveticaneue-lightcond-webfont.woff2') format('woff2'),
         url('../fonts/helvetica/helveticaneue-lightcond-webfont.woff') format('woff'),
         url('../fonts/helvetica/helveticaneue-lightcond-webfont.ttf') format('truetype'),
         url('../fonts/helvetica/helveticaneue-lightcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo700';
    src: url('../fonts/museo/museo700-regular-webfont.eot');
    src: url('../fonts/museo/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo700-regular-webfont.woff2') format('woff2'),
         url('../fonts/museo/museo700-regular-webfont.woff') format('woff'),
         url('../fonts/museo/museo700-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo/museo700-regular-webfont.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    font-family: 'helvetica_light';
    line-height: 20px;
    color: $brwn;
}

.uk-container {
    margin: 0 auto;
    max-width: 1000px;
}

div {
    box-sizing: border-box;
    position: relative;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'museo500';
    color: $brwn;
}


hr {
    border-top: 1px solid #fff;
}

.uk-navbar {
    background: transparent;
    
    li a {
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        padding: 0 8px;
         
    }
    
    li{
        
        &:hover a{
            background-color: transparent;
            border-bottom: $yllow solid 3px;
            color: #fff;
            -webkit-transition:border-bottom .3s;
            -moz-transition: border-bottom .3s;
            -ms-transition: border-bottom .3s;
            -o-transition: border-bottom .3s;
            transition: border-bottom .3s;
        }
        
        &.active a{
            border-bottom: $yllow solid 3px;
        }
    }
    
}

.uk-table {
      border: 1px solid $blue;
    
    thead {
        border-bottom: 1px solid $blue;  
        
        th {
            border-right: 1px solid $blue;
        }
    }
    
    tbody tr{
    
            &:nth-of-type(odd){
                background: #ebdbc0;
            }

            &:nth-of-type(even){
                background: #fff;
            }


            td {
                border-right: 1px solid $blue;

            }
        }

}

.uk-navbar-toggle {
    color: $yllow;
    
    &:hover, &:focus {
        color: $yllow;
    }
}

.uk-offcanvas-bar {
   background: url(../img/images/nav_bg_01.jpg);
}

.uk-nav-offcanvas li a {
    color: #fff;
    text-transform: uppercase;
    
    &:hover {
        background: $blue !important;
    }
}




.bwn-btn {
    min-width: 85px;
    padding: 5px;
    background: #b56c3c;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    
    &:hover{
        opacity: .8;
        color: #fff;
        text-decoration: none;
    }
}

.uppr_nav{
    @include box-shadow;
    background: url(../img/images/ft_bg_03.jpg);
    height: 45px;
    width: 100%;
    color: #fff;
    z-index: 1;

    
    .scl_icn ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
        li {
            display: inline-block;
            margin-right: 10px;
            border-right: 1px solid rgba(255, 255, 255, 0.44);
            list-style: none;
            padding-right: 10px;
            height: 45px;
            
            a {
                color: #fff;
            }
        }
    }
    
    .usr_cnt {
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        
        span a{
            text-transform: uppercase;
            color: #fff
        }
        
        ul.tog-acc_menu {
            display: none;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-top: 15px;
              width: 100%;
              float: right;
             background: url(../img/images/ft_bg_03.jpg);
            
            li {
                padding: 10px;
                a{
                   
                }
                
            }
        }
        
    }   
}

.lwr_nav{
    background: url(../img/images/nav_bg_01.jpg);
    width: 100%;
    
    .lg_cont{
        width: 242px;
        float: left;
        
        img {
            width: 100%;
            position: absolute;
            z-index: 9;
        }
    }

    .uk-container {
        padding-bottom: 35px;
    }
    
    .nav_cont {
        float: right;
        width: calc(100% - 242px);
        padding: 30px 0 0;
    }
}

.zgg-up{
    width: 100%;
    height: 10px;
    background-color: transparent;
    background: url(../img/images/zig-uppr_07.png);
    position: relative;
    top: -8px;
    z-index: 8;
}

#home-slider { 
    .owl-controls {
        position: absolute;
        bottom: 70px;
        width: 100%;
    }
}

.sldr_cont{
    min-height: 545px;
    background: url(../img/images/yellw_bg_10.jpg);
    
    .owl-theme .owl-controls .owl-page span {
        background: $brwn;
    }
    .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
        background: $yllow;
    }
    
    .customNavigation {
        position: absolute;
        top: 0;
        width: 100%; 
        max-width: 25px;
        text-align: center;
        height: 435px;
        left: 10px;

        &.right {
            left: auto;
            right: 10px;
        }
        
        a{
            color: $brwn;
        }
    }
}

.gld_sliderCont{
    width: 100%;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10% 0 0;
}

.gld_slider{
    width: 100%; 
    position: relative; 
    
    .gld_sld {
        vertical-align: middle;
        display: inline-block;
        max-width: 100%;
        font-size: 1rem;
    }
    
    .item {
        height: 543px;
        color: #fff;
        font-weight: 900;
        width: 100%;
        background-size: cover;
        background-position: center;
        
        p{
            font-size: 1.25em;
            max-width: 360px;
            float: right;
            text-align: right;
            text-shadow: 1px 1px #4A4A4A;
        }
        
        a.btn-slide{
            background: $yllow;
            color: $brwn;
            padding: 10px;
            display: inline-block;
            margin: 10px 0;
            font-family: 'museo500';
            -moz-box-shadow: 0px 0px 11px #282828;
-webkit-box-shadow: 0px 0px 11px #282828;
box-shadow: 0px 0px 11px #282828;
            text-shadow: none;;
            
            &:hover {
                text-decoration: none;
                opacity: .8;
                box-shadow: 0 0;
            }
        }
           
        
    }
}


.flwdth-ylw-dw{
    background: url(../img/images/yellw_bg_10.jpg);
    width: 100%;
    padding: 50px 0 30px;

    &.home {
        margin-top: -40px;
    }

        h1 {
            text-align: center;
            color: $brwn;
            text-transform: uppercase;
            font-size: 25px;
            line-height: 30px;
            font-family: 'museo700'
        }
    
    &:after{
    content: " ";
    display: block;
    position: relative;
    width: 100%;
    bottom: -45px;
    height: 15px;
    z-index: 7;
    background: url(../img/images/zigbottom.png) repeat-x;
    }
}

.flwdth-ylw-up{
    background: url(../img/images/yellw_bg_10.jpg);
    width: 100%;
    padding: 50px 0;
    
        h1 {
            text-align: center;
            color: $brwn;
            line-height: 30px;
            text-transform: uppercase;
            font-size: 25px;
            font-family: 'museo700'
        }
    
    &:before{
        content: " ";
        display: block;
        position: relative;
        width: 100%;
        top: -67px;
        height: 15px;
        background: url(../img/images/zigup.png) repeat-x;
    }
}

.lstpd{
    margin-left: 80px;
    
    p{
        padding-left: 20px;
    }
}

.accpd{
    padding-left: 80px;
}


.flwdth {
    background: url(../img/images/bg_inside_02.jpg);
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.pdtp{
    padding-top: 30px;
}

.rwng{
    margin-bottom: 50px;
}

.pnl{
    background: url(../img/images/cream_bg_11.jpg);
    padding: 20px;
    float: left;
    width: calc(100% / 3 - 17px);
    margin-left: 25px;
//    min-height: 280px;
    -webkit-box-shadow: 0px 0px 40px -7px rgba(40,40,40,0.49);
-moz-box-shadow: 0px 0px 40px -7px rgba(40,40,40,0.49);
box-shadow: 0px 0px 40px -7px rgba(40,40,40,0.49);
    
    &:first-child{
        margin-left: 0;
    }
    
    h2 {
        min-height: 30px;
        margin: 15px 0;
        
        img {
            max-width: 55px;
            vertical-align: text-bottom;
        }
    }
    
    p {
        min-height: 60px;
    }
    
}


.hd-rib{
    background: url(../img/images/dots_03.png) center;
    font-family: 'museo700';
    color: #fff;
    font-size: 20px;
    background-repeat: repeat-x;
    text-transform: uppercase;
    margin-bottom: 40px;
    
    span {
        background-color: $blue;
        padding: 7px 20px;
        text-align: center;
        padding-right: 30px;
    }
    
    span:nth-child(2){
        background: url(../img/images/endribn_03.png) right/contain no-repeat;
        padding: 11px 20px;
        content: '';
        padding-left: 0;
        margin-left: -1px;
    }
    
    &.uk-accordion-title {
        margin-bottom: 0;
        
        &.uk-active{
            margin-bottom: 30px;
        }
    }
        a {
        color: #fff;
        text-decoration: none;
    }
}

.abt{
    
    margin-bottom: 30px;
    
    h2 {
        font-weight: 600;
        font-size: 20px;
        color: $brwn
    }
    
    .uk-width-small-1-2:nth-child(2){
        padding-top: 50px;
    }
}

.prkad{
    
    .uk-width-small-1-2:first-child{
        text-align: right
    }
    
    ul {
        line-height: 25px;
        
        li ul{
            list-style: inherit;
            margin-left: 30px;
        }
    }
}

.mbr_cnt{
    width: 100%;
    margin-top: 50px;
    
    .mbr_pnl{
        width: calc(100% / 3 - 17px);
        float: left;
        margin-right: 20px;
        border: $brwn dotted 2px;
        padding: 20px;
        padding-top: 40px;
        
        &:last-child{
            margin-right: 0;
        }
        
        .mbr_num{
            width: 50px;
            height: 50px;
            color: #fff;
            text-align: center;
            background: $blue;
            position: absolute;
            top: -30px;
            border-radius: 100px;
            left: 0;
            right: 0;
            line-height: 2em;
            font-size: 25px;
            margin: 0 auto;
        }
        
        .mbr_icn{
            text-align: center;
            margin-bottom: 20px;
        }
        .mbr_desc{
            p {
                min-height: 80px;
            }
        }
    }
}

.prms {
    .prms_img {
        margin-bottom: 20px;
   
        img {
            width: 100%;
            height: 250px;
            opacity: 0;
        }
    }
}


.cntc {
    width: 100%;
    position: relative;
    display: block;
    
    
    .cntc_icn {
        width: 50px;
        float: left;
        margin-right: 20px;
    }
    
    .cntc_desc {
        float: left;
        width: calc(100% - 70px);
    }
    
}

.brdbrwn {
    border-right: 1px dotted $brwn;
}

.frm {
    label{
        float: left;
        margin-right: 10px;
        width: 95px;
        font-weight: 800;
    }
    input {
        width: calc(100% - 111px);
        float: left;
        margin-bottom: 20px;
        border: 0;
        min-height: 30px;
    }
    
    textarea {
        @extend input;
        min-height: 140px;
    }
    
}


.rdm_cont {
    width: calc(100% / 4 - 15px);
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
    
    &:nth-child(4n+4){
        margin-right: 0;
    }
    
    .rdm_img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 10px;
        
        img {
            opacity: 0;
            width: 100%;
        }
    }
    
    .rdm_pts{
        margin-bottom: 10px;
        border-bottom: 1px dotted $brwn;
        padding-bottom: 10px;
        
        span {
            font-family: 'museo700';
            color: $blue;
            font-size: 18px;
        }
        
        button {
            padding: 3px 20px;
            color: $brwn;
            background: $yllow;
            border-radius: 5px;
            border: 0;
            float: right;
        }
    }
    
    .rdm_desc {
        .title {
            font-family: 'helvetica_bold';
        }
        p{
            font-size: 12px;
            line-height: 15px;
        }
    }
    
    .rdm-scmd {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 10px;
        
        ul{
            width: 100%;
            position: relative;
            list-style: none;
            text-align: right;
            padding: 5px;
            margin: 0;
            
            li{
                width: 30px;
                height: 30px;
                border-radius: 100px;
                background: $brwn;
                text-align: center;
                display: inline-block;
                margin-left: 5px;
-webkit-box-shadow: 0px 0px 7px 1px rgba(40,40,40,0.61);
-moz-box-shadow: 0px 0px 7px 1px rgba(40,40,40,0.61);
box-shadow: 0px 0px 7px 1px rgba(40,40,40,0.61);
                
                
                a {
                    color: #fff;
                }
            }
        }
    }

}

.rdmacc{
    margin-top: 50px;
    margin-bottom: 50px;
    
    .rdm_cont{
        width: auto;
    }
    
    .owl-pagination{
        display: none
    }
}

.prf_img {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    
    img {
        width: 100%;
        opacity: 0;
    }
}

.pnts {
    border: solid 1px $blue;
    padding: 20px;
    float: left;
    width: calc(100% / 3 - 14px);
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(3n+3){
        margin-right: 0;
    }
    
    .pnl_1 {
        width: 50%;
        float: left;
        font-weight: 900;
        text-align: right;
        font-family: 'helvetica_bold';
    }
    
    .pnl_2 {
        @extend .pnl_1;
        font-size: 30px;
        line-height: 40px;
    }
}

.prf_btns {
    button {
        background: #b26736;
        border: 0;
        color: #fff;
        text-transform: uppercase;
        border-radius: 5px;
        font-weight: 700;
        font-size: 12px;
        padding: 5px;
        margin: 10px 0;
        
        &.fb {
            background: #3b5998;
        }
    }
}

.mbr_prfl-inf {
   p {
        height: 30px;
    }
    
    .addrss{
        height: 40px;
    }
    
    input{
        margin-bottom: 10px !important;
    }
}

.mbr_prfl-lbl {
    @extend .mbr_prfl-inf;
    text-align: right;
    text-transform: uppercase;
    font-family: 'helvetica_bold'; 
}



.fvrts {
    
    margin-bottom: 50px;
    
    .owl-pagination{
        display: none;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            list-style: none;
            //float: left;
           // width: 100%;
            margin-right: 10px;
            position: relative;
            margin-bottom: 30px;
            
            &:nth-child(4n+4){
                margin-right: 0;
            }
            
            .fvrts_img {
                margin-bottom: 10px;
                border: 5px solid $yllow;
                
                button{
                    padding: 3px 20px;
                    color: #672903;
                    background: $yllow;
                    border: 0;
                    position: relative;
                    float: right                    
                }
                
                img {
                    opacity: 0;
                    width: 100%;
                }
            }
            
            .fvrts_pts{
              margin-bottom: 10px;
              border-bottom: 1px dotted #672903;
              padding-bottom: 10px;
                
                span {
                  font-family: 'museo700';
                  color: $blue;
                  font-size: 18px;
                }
                
                button{
                    padding: 3px 20px;
                    color: $brwn;
                    background: $yllow;
                    border-radius: 5px;
                    border: 0;
                    float: right;
                    display: none;
                }
            }
            
            .fvrts_desc {
                .title {
                    font-family: 'helvetica_bold';
                }
                p {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
    }

}

.ctc_btn {
    text-align: right;
    padding: 20px 0;
    
    button {
        min-width: 85px;
        padding: 10px 5px;
        background: #b56c3c;
        border-radius: 5px;
        color: #fff;
        text-transform: uppercase;
        border: 0;
    }
}

.paginate {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    
    li {
        display: inline-block;
        background: #c1784a;
        padding: 5px 10px;
        
        a {
            color: #fff;
            font-family: 'museo700';
            
            &:hover {
                text-decoration: none;
                opacity: 0.7;
            }
            
        }
        
        &:first-child{
            background: url(../img/images/left-rbn_07.png) left / contain no-repeat;
            padding: 5px;
            min-width: 60px;
            text-align: right;
            padding-right: 15px; 
        }
         &:last-child{
            background: url(../img/images/right-rbn_07.png) left / contain no-repeat;
            padding: 5px;
            min-width: 60px;
            padding-left: 15px;
            text-align: left;
        }
    }
}

footer {
    background: url(../img/images/ft_bg_03.jpg);
    min-height: 40px;
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
    -webkit-box-shadow: 2px -10px 61px -4px rgba(40,40,40,0.49);
-moz-box-shadow: 2px -10px 61px -4px rgba(40,40,40,0.49);
box-shadow: 2px -10px 61px -4px rgba(40,40,40,0.49);
    position: relative;
    
    .ft_cont{
        float: right;
        width: calc(100% / 2);
    }
    
    //.ft_cont:nth-child(2){
    //    float: none;
    //}
    
    p {
        font-size: 12px;
        padding: 5px;
    }
    
    .devurl{
        text-align: right;
        
        span.delinfo {
            padding: 5px;
              border: 1px solid #8de1ea;
              border-radius: 3px;
              color: #fff;
              float: right;
              padding-right: 45px;
              font-size: 12px;
              line-height: 15px;
              margin-right: -40px;
        }
        
        img {
              position: relative;
              z-index: 2;
              left: 0;
              float: right;
        }
    }
}


.maps{
    p {
        text-align: center;
        
        a {
            color: $brwn;
        }
    }
}

/* responsive stuffs */


@media screen and (max-width: 1024px) {
    .gld_sliderCont {
        padding: 15% 35px 0;
    }
}

@media screen and (max-width: 960px){
    
    .uk-navbar-nav{
        display: none;
    }
    
    .uk-container{
        padding: 0 20px;
    }
    
.uppr_nav .usr_cnt .bwn-btn{
    display: none;
}

.gld_sliderCont {
    padding-top: 48%;
}

.sldr_cont {
    min-height: 0;
}

.flwdth-ylw-up{
    &:before{
        top: -65px;
    }
}

    
.lwr_nav{
    height: 65px;
    
    .lg_cont img {
        width: 65%;
    }
    
    .uk-container {
        padding: 0;
    }
    
    .nav_cont {
        width: 100%;
        padding-top: 15px;
        
        .uk-navbar-nav{
              width: 100%;
              position: absolute;
              z-index: 8;
                top: 65px;
              background-color: $yllow;
              padding-top: 35px;
            
            li {
                float: none;
                border-bottom: 1px dotted $brwn;  
                
                a {
                    color: #652A06;
                    font-family: 'helvetica_bold';
                }
                
                &:last-child{
                    border-bottom: 0;
                }
            }
        }
    }
}
    
.flwdth-ylw-dw{
    padding: 50px 0 15px;
    
    &:after {
        bottom: -30px;
    }
}
    
.abt {
    
    .uk-width-small-1-2{
        
        img {
            text-align: center;
            width: 100%;
            margin-bottom: 20px;
        }
        
        p{
            padding-top: 0px;
            text-align: center;
        }
        
        &:nth-child(2) {
            padding-top: 0px;
        }  
    }
    
    .uk-width-1.uk-margin-top{
        text-align: center;
    }   
} 
    
.lstpd{
    margin-left: 0;
}
    
.mbr_cnt{ 
    .mbr_pnl .mbr_desc p{
        text-align: center;
        min-height: 20px;
    }
}
    
.rdm_cont {
    width: calc(100% /3 - 15px);
    
    &:nth-child(3n+3){
        margin-right: 0;
    }
    &:nth-child(4n+4){
        margin-right: 20px;;
    }
}
    
    
.ctc {
    p {
        text-align: center;
        margin-bottom: 20px !important;
    }
}
    
    
.gld_slider {
    width: 100%;
    
    .item{
        height: 650px;
        padding: 0 15px;
        
        p{
            float: none;
            max-width: 100%;
            text-align: center;
            font-weight: normal;
            font-size: 15px;
        }
        
    }
    .gld_sld {
        vertical-align: bottom;
    }
}  
    
.sldr_cont{
    .customNavigation{
        height: 100%;
    }
}
    
.pnl {
    
    p {
        text-align: center;
        min-height: 100px;
    }
    
    h2{
        min-height: 55px;
        line-height: 60px;
    }
    
     &:nth-child(3){
        h2{
            line-height: 30px;
        }
    }
}
    
.brdbrwn {
    border-right:0;
}
    
    .accpd {
        padding: 0;
    }

} // end of 959px


@media screen and (max-width: 767px){

    .uk-flex {
        display: block;
    }
    
    .uk-container{
        padding: 0 15px;
    }
    
.pnl {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
}
    
.hd-rib {
    text-align: center;
    font-size: 18px;
    
        span:nth-child(2){
            display: none;
        }

}
    
    
.abt {
    
    .uk-width-small-1-2{

        p{
            text-align: left;
            padding-bottom: 20px;
        }
 
    }
}
    
.mbr_cnt{ 
    .mbr_pnl{
        width: 100%;
        margin-bottom: 50px;
    }
}
    
.brdbrwn{
   border: 0; 
}

.ctc_btn {
    text-align: center;
    
    button {
        width: 100%;
        padding: 10px;
    }
}
    
.gld_slider {
    
    .item{

        p{
            font-size: 15px;
            line-height: 18px;
            text-align: justify;
            margin-bottom: 0;
            
            a{
                padding: 5px;
                font-size: 12px;
            }
        }
        
    }
    
}  

.mbr_prfl-lbl{
    text-align: left;
}
    
.accpd{
   padding-left: 0
}
    
.pnts{
    width: 100%;
    margin-top: 20px;
    
    .pnl_1{
        text-align: left;
    }
    
}
    
//.fvrts ul li{
//    width: calc(100% / 2 - 10px);
//    
//    &:nth-child(2n+2){
//        margin-right: 0px;
//    }
//    
//    .fvrts_img img {
//        max-width: 200px;
//    }
//
//}

.rdm_cont {
    width: calc(100% / 2 - 10px);
    
    &:nth-of-type(even){
        margin-right: 0 !important;
    }
    &:nth-of-type(odd){
        margin-right: 20px !important;
    }
}
    
footer {
    
    .ft_cont{
        width: 100%;
        
        &:first-child{
            margin-bottom: 10px;
        }
    }
    
    .devurl span.delinfo {
        width: calc(100% - 67px);
    }
}
    
    
.frm{

    label{
        float: none;
        width: 100%;
    }
    
    input, textarea{
        float: none;
        width: 100%;
        margin-top: 10px;
    }
    
}
    
.ctc p {
    text-align: left;
}
    
.maps{
     iframe {
        display: none;
    }
    p {
        a {
            width: 100%;
            padding: 5px;
            background: $brwn;
            border-radius: 5px;
            color: #fff;
            text-transform: uppercase;
            border: 0;
            display: block;
            text-align: center!important;
        }
    }
}
    
.sldr_cont{
    .customNavigation{
        display: none;
    }
}
    
.gld_slider .item{
    height: 505px;
}
    
.gld_sliderCont {
    padding-top: 50%;
    padding-left: 20px;
    padding-right: 20px;
}
    
} // end of 767px

@media screen and (min-width: 768px) and (max-width: 960px){
    .cntc {
        .cntc_desc{
            font-weight: bold;
        }
    }
    
    .ctc_btn {
        text-align: center;
    }
    
    .frmcus{
        padding: 0 50px;
    }
}


@media screen and (min-width: 601px) and (max-width: 960px){
.cntc{
    width: calc(100% / 3);
    float: left;
    border-left: 1px dotted;
    padding-right: 15px;
    
    &:first-child{
        border: 0;
    }
    
    .cntc_icn {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .cntc_desc {
        width: 100%;
        text-align: center
    }
}

}

@media screen and (max-width: 600px){
.uppr_nav .usr_cnt span a {
    font-size: 13px;
    margin-right: 0px;
}
    
}// end of 600px

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 414px){
.rdm_cont {
    width: 100%;
    margin-right: 0 !important;
    
}

    .uppr_nav .usr_cnt{
          text-align: right;
      padding: 0;
      padding-top: 10px;
    }
    
    .uppr_nav .usr_cnt span a{
        font-size: 10px;
    }
    
//.fvrts ul li{
//    width: 100%;
//    margin-right: 0px;
//}
//    


}// end of 414px


@media screen and (max-width: 320px){
.hd-rib{
    font-size: 15px;
    span {
    padding: 7px 5px;
    }
}

}// end of 320px
